    body{
     color: white;
     background: rgb(55, 54, 54);
     margin: 0px;
    }

    header{ 
        border-bottom: solid 2px rgb(255, 253, 253);
        padding: 20px;
        font-size: 32px;
    }